[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
[submodule "indentLine"]
	path = janus/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "keepcase"]
	path = janus/keepcase
	url = https://github.com/vim-scripts/keepcase.vim.git
[submodule "ack"]
	path = janus/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "Align"]
	path = janus/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "YankRing.vim"]
	path = janus/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
