[submodule "janus/keepcase.vim"]
	path = janus/keepcase.vim
	url = https://github.com/vim-scripts/keepcase.vim.git
[submodule "janus/ack.vim"]
	path = janus/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "janus/Align"]
	path = janus/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "janus/YankRing.vim"]
	path = janus/YankRing.vim
	url = git@github.com:vim-scripts/YankRing.vim.git
[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/indentLine"]
	path = janus/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "janus/vim-align"]
	path = janus/vim-align
	url = git@github.com:vim-scripts/Align.git
